body {background-color:powderblue;text-align:center;}
/* body {background-image:url('./resources/matlab.png');background-repeat:no-repeat;} */
h1   {"font-size:40px;"color:yellow}
p    {color:red;border:2px solid yellow;padding:30px}
pre  {border:2px solid Tomato;}
a:link {color:greem;background-color:transparent;text-decoration:none;}
a:visited {color:pink;background-color:transparent;text-decoration:none;}
a:hover {color:red;background-color:transparent;text-decoration:underline}
a:active {color:yellow;background-color:transparent;text-decoration:underline}
table,th,td{border:1px solid black;}
th,td{padding:15px;}
th{text-align:center;}
table{border-spacing:50px;}
#t01 {width: 100%;  background-color: #f1f1c1;}